<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="google" value="notranslate">
  <title>B:R{{pkg.name}} vB:R{{pkg.version}}</title>
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/blockly/blockly_compressed.js"></script>
  <script src="js/blockly/blocks_compressed.js"></script>
  <script src="js/blockly/javascript_compressed.js"></script>

  B:R{{jsBlocks}}
</head>

<body>
  <table width="100%" height="100%">
    <tr>
      <td colspan=2>
        <table width="100%">
          <tr id="tabRow" height="1em">
            <td id="tab_blocks" class="tabon">...</td>
            <td class="tabmin">&nbsp;</td>
            <td id="tab_javascript" class="taboff">JavaScript</td>
            <td class="tabmin">&nbsp;</td>
            <td id="tab_xml" class="taboff">XML</td>
            <td class="tabmax">
              <select id="languageMenu"></select>
              <button id="trashButton" class="notext" title="...">
                <img src='media/1x1.gif' class="trash icon21">
              </button>
              <button id="linkButton" class="notext" title="...">
                <img src='media/1x1.gif' class="link icon21">
              </button>
              <button id="runButton" class="notext primary" title="...">
                <img src='media/1x1.gif' class="run icon21">
              </button>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td height="99%" colspan=2 id="content_area">
      </td>
    </tr>
  </table>

  <div id="content_blocks" class="content"></div>
  <pre id="content_javascript" class="content"></pre>
  <textarea id="content_xml" class="content" wrap="off"></textarea>

  <xml xmlns="http://www.w3.org/1999/xhtml" id="toolbox" style="display: none;">
  B:R{{xmlBlocks}}
  </xml>

  <script src="js/libs/CSInterface.js"></script>
  <script src="js/libs/themeManager.js"></script>
  <script src="js/main.js"></script>
  <script src="js/code.js"></script>
</body>

</html>